* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    background-color: rgb(51, 47, 47);
    color: white;
    text-align: center;
    line-height: 1.5;
  }


  @media screen and (max-width: 450px) {

    .header {
        height: 100px;
    }
  }

  header {
      height: 100px;
      background-color: grey;
    text-align: center;
    
  }

  h1 {
      display: inline-block;
    color: white;
    padding-top: auto;
    padding-bottom: auto;
  }

  .nav {
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: space-evenly;
      
  }

  .nav > p {
      display: flex;
      color: black;
  }

  .nav > a {
      color: black;
      text-decoration: none;

  }

  .nav > a:visited {
      color: black;
  }

  .about {
      background-color: white;
      color: black;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .recent-content-block {
      display: flex;
      justify-content: space-evenly;

  }

  .recent-content-block > div {
      background-color: white;
      color: black;
      width: 25%;
      height: 800px;
      padding-top: 30px;
  }

  a {
      text-decoration: none;
      color: black;
      cursor: pointer;
  }

  .recent-content-block > a {
      height: 150px;
  }

  .example-block {
      margin: 10px;
      height: 150px;
      background-color: rgb(255, 221, 146);
  }

  .registration-page {
    flex-direction: column;
      width: 250px;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      display: flex;
      justify-content: center;   
      color: black;  
  }

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
   
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

   
}

.account-page {
    height: 100%;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profile-field {
    font-size: medium;
    padding: 15px;
}

.avatar {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin-bottom: 50px;
    margin-top: 100px;
}

input {
    padding: 5px;
    margin: 15px;
}

textarea {
    resize: none;
}


  .footer {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      color: white;
  }

  @media screen and (max-width: 450px) {

    .description {
        padding: 15px;
    }

    .about {
        padding: 15px;
    }

      .recent-content-block {
          flex-direction: column;
          align-items: center;
          overflow: hidden;
      }
      
      .recent-content-block > div {
          width: 90%;
          height: 400px;
      }

  }